<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Testing DB Integration</title>
</head>
<body>
        <div class="flex-container">
            <div class="container">

                    <h1>JOIN US FRESHER'S PARTY</h1>

                    <p class="lead">Enter your email to join <strong><%= count %></strong> 
                    others  </p>
                    
                        <form method="POST" action="/register">
                        <input type="text" name="email" class="form" placeholder="Enter Your Email">
                        <button>Join Now</button>
                        </form>
            </div>
        </div>
       
        
</body>
</html>
